<form method="post" action="{{ path('app_customer_adress_delete', {'id': customer_adress.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_adress.id) }}">
    <button class="btn">Delete</button>
</form>
