{% extends 'base.html.twig' %}

{% block title %}New CustomerAdress{% endblock %}

{% block body %}
    <h1>Create new CustomerAdress</h1>

    {{ include('customer_adress/_form.html.twig') }}

    <a href="{{ path('app_customer_adress_index') }}">back to list</a>
{% endblock %}
